<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HomageLib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A7BDC99F2125401588B70981</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DF0F9DA1D2B24167B1C51C17</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E1DB11E1869C48419DFDE0C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
